<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <style>
        body {
            margin-top: 30px;
            justify-content: center;
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
</head>
<body>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
    <span style='font-family:"Times New Roman",serif;'><img width="270"
                                                            src="data:image/png;base64,{{logo}}"
                                                            class="fr-fic fr-dii"></span></p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:150%;margin:0cm;text-align:center;'>
    <strong><span style='font-size:14px;line-height:150%;font-family:"Calibri",sans-serif;color:#414141;'>Jl. Ahmad Yani No.2 Komple GOR Bekasi - Kel. Kayuringin Jaya - Kec. Bekasi Selatan</span></strong>
</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:double windowtext 2.25pt;padding:0cm 0cm 1.0pt 0cm;'>

    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:1rem;line-height:150%;margin:0cm;text-align:center;border:none;padding:0cm; border-box;font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;widows: 2;-webkit-text-stroke-width: 0px;text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial;word-spacing:0px;'>
        <strong><span style='font-size:14px;line-height:150%;font-family:"Calibri",sans-serif;color:#414141;'>No. Telpon: 0813 8464 8889 - &nbsp;Email : kaposkotabekasi@gmail.com</span></strong>
    </p>
</div>


<table width="100%" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 450.8pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="100%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                <strong>DATA ANGGOTA KOPERASI</strong></p>
        </td>
    </tr>
    </tbody>
</table>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    <strong>DATA PRIBADI (1)</strong></p>

<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 120.25pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Nomor Anggota</p>
        </td>
        <td style="width: 330.55pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="73.37770382695507%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{no_anggota}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Nama Lengkap</p>
        </td>
        <td style="width: 330.55pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="73.37770382695507%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{name}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Bidang</p>
        </td>
        <td style="width: 330.55pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="73.37770382695507%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{instansi}}</p>
        </td>
    </tr>
    </tbody>
</table>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    <strong>DATA PRIBADI (2)</strong></p>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                No KTP</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{no_ktp}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Tempat, Tanggal Lahir</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{ttl}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Jenis Kelamin</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{jenis_kelamin}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Status Perkawinan</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{status_perkawinan}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Alamat Rumah</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{alamat}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Kelurahan</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{kelurahan}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Kecamatan</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{kecamatan}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Kota / Kabupaten</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{kota}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                No. Telepon</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{no_telp}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.5pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="27.058823529411764%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Email</p>
        </td>
        <td style="width: 325.8pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="72.94117647058823%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{email}}</p>
        </td>
    </tr>
    </tbody>
</table>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    <strong>&nbsp;</strong></p>

<table width="100%" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 450.8pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="100%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                <strong>DATA PINJAMAN</strong></p>
        </td>
    </tr>
    </tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Jumlah Permintaan</p>
        </td>
        <td style="width: 330.55pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="73.37770382695507%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{jumlah_permintaan}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Keperluan Untuk</p>
        </td>
        <td style="width: 330.55pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="73.37770382695507%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{keperluan}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Jangka Waktu</p>
        </td>
        <td style="width: 330.55pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="73.37770382695507%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{masa}} Bulan</p>
        </td>
    </tr>
    </tbody>
</table>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 150.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                Mengetahui,</p>
        </td>
        <td style="width: 150.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                Yang Mengajukan</p>
        </td>
        <td style="width: 150.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                Menyetujui</p>
        </td>
    </tr>
    <tr>
        <td style="width: 150.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
        <td style="width: 150.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
        <td style="width: 150.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 150.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">
            <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>

                <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;border:none;padding:0cm;'>
                    H.Abdul Rosyad Irwan S, SE</p>
            </div>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                Ketua KONI Kota Bekasi</p>
        </td>
        <td style="width: 150.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">
            <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
                <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;border:none;padding:0cm;'>
                    {{name}}</p>
            </div>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                Pemohon</p>
        </td>
        <td style="width: 150.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="33.333333333333336%">
            <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>

                <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;border:none;padding:0cm;'>
                    &nbsp;</p>
            </div>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                Suami/Istri</p>
        </td>
    </tr>
    </tbody>
</table>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    &nbsp;</p>


<table width="100%" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 450.8pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
            width="100%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                <strong>DATA DIISI OLEH PETUGAS KOPERASI</strong></p>
        </td>
    </tr>
    </tbody>
</table>


<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Pinjaman Yang Disetujui</p>
        </td>
        <td style="width: 106.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="23.62728785357737%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{pinjaman_disetujui}}</p>
        </td>
        <td style="width: 3cm;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="18.80199667221298%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Jasa Pinjaman</p>
        </td>
        <td style="width: 139.2pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="30.948419301164726%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{bunga}} % per Bulan/Tahun</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Diterima Tanggal</p>
        </td>
        <td style="width: 106.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="23.62728785357737%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{diterima_tanggal}}</p>
        </td>
        <td style="width: 3cm;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="18.80199667221298%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Administrasi</p>
        </td>
        <td style="width: 139.2pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="30.948419301164726%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{admin}} %</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Angsuran per bulan</p>
        </td>
        <td style="width: 106.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="23.62728785357737%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{angsuran_per_bulan}}</p>
        </td>
        <td style="width: 3cm;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="18.80199667221298%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
        <td style="width: 139.2pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="30.948419301164726%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Akan Diangsur</p>
        </td>
        <td style="width: 106.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="23.62728785357737%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{masa}} x tiap bulan</p>
        </td>
        <td style="width: 3cm;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="18.80199667221298%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Dilunasi Tanggal</p>
        </td>
        <td style="width: 139.2pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="30.948419301164726%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{tanggal_lunas}}</p>
        </td>
    </tr>
    <tr>
        <td style="width: 120.25pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="26.622296173044926%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                Jaminan Pinjaman</p>
        </td>
        <td style="width: 106.3pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="23.62728785357737%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                : {{jaminan}}</p>
        </td>
        <td style="width: 3cm;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="18.80199667221298%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
        <td style="width: 139.2pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="30.948419301164726%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
                &nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    <span>VERIFIKASI DATA DAN KETERANGAN ANGGOTA/DEBITUR</span>
    &nbsp;</p>

<table width="100%" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td colspan="3" style="width: 270.45pt;border: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="60.06655574043261%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                DIESTUJUI / TIDAK DISETUJUI</p>
        </td>
        <td colspan="2"
            style="width: 180.35pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="39.93344425956739%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                TANGGAL</p>
        </td>
    </tr>
    <tr>
        <td style="width: 90.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>
        </td>
        <td style="width: 90.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>
        </td>
        <td style="width: 90.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>
        </td>
        <td style="width: 90.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>
        </td>
        <td style="width: 90.2pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                &nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 90.15pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                KETUA</p>
        </td>
        <td style="width: 90.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                BENDAHARA</p>
        </td>
        <td style="width: 90.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                SEKRETARIS</p>
        </td>
        <td style="width: 90.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                DIAJUKAN</p>
        </td>
        <td style="width: 90.2pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
            valign="top" width="20%">

            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
                DISETUJUI</p>
        </td>
    </tr>
    </tbody>
</table>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;'>
    Catatan:</p>

</body>
</html>
