<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <style>
        body {
            margin-top: 30px;
            justify-content: center;
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>
</head>
<body>
<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:150%;text-align:center;'>
    <span style='font-family:"Times New Roman",serif;'><img width="270" src="data:image/png;base64,{{logo}}"
                                                            class="fr-fic fr-dii"></span></p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:150%;margin:0cm;text-align:center;'>
    <strong><span style='font-size:15px;line-height:150%;font-family:"Calibri",sans-serif;color:#414141;'>Jl. Ahmad Yani No.2 Komple GOR Bekasi - Kel. Kayuringin Jaya - Kec. Bekasi Selatan</span></strong>
</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;border:none;border-bottom:double windowtext 2.25pt;padding:0cm 0cm 1.0pt 0cm;'>

    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:1rem;line-height:150%;margin:0cm;text-align:center;border:none;padding:0cm; border-box;font-variant-ligatures: normal;font-variant-caps: normal;orphans: 2;widows: 2;-webkit-text-stroke-width: 0px;text-decoration-thickness: initial;text-decoration-style: initial;text-decoration-color: initial;word-spacing:0px;'>
        <strong><span style='font-size:15px;line-height:150%;font-family:"Calibri",sans-serif;color:#414141;'>No. Telpon: 0813 8464 8889 - &nbsp;Email : kaposkotabekasi@gmail.com</span></strong>
    </p>
</div>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:normal;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;">&nbsp;</span></p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:normal;text-align:center;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;"><strong><u>SURAT PENGAKUAN HUTANG</u></strong></span>
</p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:normal;text-align:center;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;"><strong>No : &nbsp;/SPH/KAPOS/X/{{tahun}}</strong></span>
</p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:normal;text-align:center;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;"><strong></strong></span></p>
<br/>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;">Pada hari ini {{hari}} tanggal {{tanggal_word}} bulan {{bulan}} tahun {{tahun}}, saya yang bertanda tangan dibawah ini nama :</span>
</p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:center;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;"><strong>{{nama}}</strong></span></p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:center;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;"><strong>No. Anggota: {{no_anggota}}</strong></span>
</p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;">Dengan ini saya menyatakan miminjam uang/HUTANG kepada KOPERASI PATRIOT OLAHRAGA SEJAHTERA (KAPOS) KOTA BEKASI dengan ketentuan dan persyaratan sebagai berikut:</span>
</p>

<ol style="list-style-type: decimal;margin-left:undefined;">
    <li><span style="font-family: Calibri, sans-serif,-webkit-standard;">Hutang / Pinjaman saya sebesar <span><strong>{{jumlah}}</strong></span></span>
    </li>
    <li><span style="font-family: Calibri, sans-serif,-webkit-standard;">Jasa atas hutang/pinjaman tersebut sebesar {{bunga}}% atau sebesar <span><strong>{{bunga_per_bulan}}</strong></span> per bulan (Flat)</span>
    </li>
    <li><span
            style="font-family: Calibri, sans-serif,-webkit-standard;">Jangka Waktu Pinjaman: <span><strong>{{masa_pinjaman}} Bulan</strong></span></span>
    </li>
    <li><span style="font-family: Calibri, sans-serif,-webkit-standard;">Saya berkewajiban dan sanggup mengembalikan hutang tersebut kepada KAPOS dengan cara mengangsur / mencicil setiap bulan yaitu setiap tanggal 1 mulai bulan {{bulan_pertama}} {{tahun_pertama}} sampai dengan tanggal 1 bulan {{bulan_terakhir}} {{tahun_akhir}}, dengan rincian sebagai berikut:</span>

        <table border="1" cellpadding="0" cellspacing="0" class="class2 class3"
               style="margin-left: 91.9pt; border-collapse: collapse; border: none; margin-right: calc(10%); width: 70%;">
            <tbody>
            <tr>
                <td style="width: 11.3226%; border: none; padding: 0cm 5.4pt; vertical-align: top;" valign="top"
                    width="11.298076923076923%">
                    <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>

                        <ol start="1" style="margin-bottom:0cm;list-style-type: lower-alpha;margin-left:undefined;">
                            <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
                                <span style="font-family: Calibri, sans-serif,-webkit-standard;">&nbsp;</span></li>
                        </ol>
                    </div>
                </td>
                <td style="width: 44.3112%; border: none; padding: 0cm 5.4pt; vertical-align: top;" valign="top"
                    width="43.26923076923077%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">Angsuran Pokok Pinjaman</span>
                    </p>
                </td>
                <td style="width: 142pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
                    width="45.43269230769231%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">: {{angsuran_pokok}}</span></p>
                </td>
            </tr>
            <tr>
                <td style="width: 11.3226%; border: none; padding: 0cm 5.4pt; vertical-align: top;" valign="top"
                    width="11.298076923076923%">
                    <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>

                        <ol start="2" style="margin-bottom:0cm;list-style-type: lower-alpha;margin-left:undefined;">
                            <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
                                <span style="font-family: Calibri, sans-serif,-webkit-standard;">&nbsp;</span></li>
                        </ol>
                    </div>
                </td>
                <td style="width: 44.3112%; border: none; padding: 0cm 5.4pt; vertical-align: top;" valign="top"
                    width="43.26923076923077%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">Jasa Pinjaman Per Bulan</span>
                    </p>
                </td>
                <td style="width: 142pt;border-top: none;border-right: none;border-left: none;border-image: initial;border-bottom: 1pt solid windowtext;padding: 0cm 5.4pt;vertical-align: top;"
                    valign="top" width="45.43269230769231%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">: {{bunga_per_bulan}}</span></p>
                </td>
            </tr>
            <tr>
                <td style="width: 11.3226%; border: none; padding: 0cm 5.4pt; vertical-align: top; text-align: center;"
                    valign="top" width="11.298076923076923%">
                    <div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>

                        <ol start="3" style="margin-bottom:0cm;list-style-type: lower-alpha;margin-left:undefined;">
                            <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
                                <span style="font-family: Calibri, sans-serif,-webkit-standard;">&nbsp;</span></li>
                        </ol>
                    </div>
                </td>
                <td style="width: 44.3112%; border: none; padding: 0cm 5.4pt; vertical-align: top;" valign="top"
                    width="43.26923076923077%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">Jumlah Angsuran Perbulan</span>
                    </p>
                </td>
                <td style="width: 142pt;border: none;padding: 0cm 5.4pt;vertical-align: top; " valign="top"
                    width="45.43269230769231%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">: <span><strong>{{jumlah_bayar}}</strong></span></span></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="width: 312.1pt;border: none;padding: 0cm 5.4pt;vertical-align: top;" valign="top"
                    width="100%">

                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:36.0pt;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;margin:0cm;text-align:center;'>
                        <span style="font-family: Calibri, sans-serif,-webkit-standard;">Terbilang: <strong><i>{{terbilang}}</i></strong></span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <li><span style="font-family: Calibri, sans-serif,-webkit-standard;">Jika saya tidak melaksanakan kewajiban sebagaimana dimaksud di atas atau terlamab membayar (menunggak) angsuran/ cicilan tersebut, maka saya setuju dan bersedia dikenakan denda/sanksi sesuai peraturan yang berlaku di KAPOS KOTA BEKASI.&nbsp;</span>
    </li>
</ol>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;">Demikian Surat Pengakuan Hutang ini saya tanda tangani di atas materai dengan kesadaran penuh mengenai konsekuensi hukumnya.</span>
</p>

<p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:center;'>
    <span style="font-family: Calibri, sans-serif,-webkit-standard;">Bekasi, {{current_date}}</span></p>

<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border:none;">
    <tbody>
    <tr>
        <td style="width: 225.4pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="50%">

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                Mengetahui,</p>

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                Bendahara</p>
        </td>
        <td style="width:225.4pt;padding:0cm 5.4pt 0cm 5.4pt;" width="50%">

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                Saya yang berhutang</p>
        </td>
    </tr>
    <tr>
        <td style="width: 225.4pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="50%">

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                &nbsp;</p>
        </td>
        <td style="width: 225.4pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="50%">

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                &nbsp;</p>

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                &nbsp;</p>

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                [Materai]</p>

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>
                &nbsp;</p>

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                &nbsp;</p>

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;'>
                &nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 225.4pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="50%">

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                <strong>RIA DAMAYANTI</strong></p>
        </td>
        <td style="width: 225.4pt;padding: 0cm 5.4pt;vertical-align: top;" valign="top" width="50%">

            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'>
                <strong>{{nama}}</strong></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
